.App {
  text-align: center;
}

.App-logo {
  float: left;
  height: 40px;
}

.App-header {
  background-color: #000000;
  height: 40px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: black;
  padding: 5px;
  color: #7c7c7c;
  font-size: .75em;
}

.App-content {
  padding-top: 20px;
  min-height: 700px;
  background-color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
