.Header {
  background-color: #000000;
  height: 40px;
  padding: 5px;
  color: white;
}

.Header-logo {
  float: left;
  height: 40px;
}

.Header-title {
  font-size: 1em;
}

.Header-search {
  float: right;
}
